* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid green;
}

.grid div {
  border: 1px solid greenyellow;
  background-color: grey;
}

div .flag {
  background-image: url(./assets/flag.png);
  background-size: cover;
  background-color: orange;
}

div .mine {
  /* background-color: rgba(255, 0, 0, 1); */
}

div .sweeped {
  background-color: rgba(158, 239, 255);
}