body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FEFAE0;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 16px;
}

h1 {
  font-size: 36px;
  text-decoration: underline rgb(193, 19, 86);
}

.grid {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(96, 108, 56, 1);
  outline: 5px solid rgb(40, 54, 24);
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
}

.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid rgb(40, 54, 24);
}

.checked {
  background-color: #DDA15E !important;
}

.one {
  color: #600707;
  background-color: #bdb78d;
}

.two {
  color: #0c3d5e;
  background-color: #bdb78d;
}

.three {
  color: #0a4b08;
  background-color: #bdb78d;
}

.four{
  color: #720088;
  background-color: #bdb78d;
}

.flag {
  background-image: url(./assets/flag.svg);
  background-size: cover;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(163, 6, 66);
  color: rgb(255, 255, 255);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
  box-shadow: 5px 5px rgb(56, 2, 23);
}

/* The Close Button */
.close {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#play-again {
  background-color: rgb(255, 255, 255);
  font-family: 'Pacifico', cursive;
  border: none;
  box-shadow: 4px 4px rgb(56, 2, 23)
}

#play-again:focus {
  outline-color: rgb(254, 250, 224);
}

#elapsed-time {
  color: rgb(193, 19, 86)
}